.panel{
   border: 1px solid red;
    min-height: 100px;
    height: 100%;
}
ul.slick-dots{
    border: 1px solid grey;
    display: flex !important;
    justify-content: center;
    position: static;
}
.main{
    height: 100vh;
    border: 1px solid green;
}
element.style {
    display: flex;
}